* {
  box-sizing: border-box;
}

.landing {
  margin: 0 auto;
  width: 1440px;
  background-color: #f3f2f2;

}

.page-one {
height: 1000px;
}

.container{
  position: relative;
  overflow: hidden;
}

.logo {
width: 70vw;
height: 50vh;
background-image: url(../images/logo.svg);
background-size: contain;
background-repeat: no-repeat;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.logotype {
  position: relative;
}

.man {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 25vw;
  height: 50vh;
}

.man.changePosition {
  transition-timing-function: ease-in;
  transition: transform .3s ease;
}

.man.orange.changePosition {
  right: 10vw;
  display: block;
}

.man.blue.changePosition {
  left: 30vw;
  display: block;
}

.orange {
  background-image: url(../images/oranges.svg);
  background-size: contain;
  background-repeat: no-repeat;
  right: -100vw;
  display: none;
}

.blue {
  background-image: url(../images/blue.svg);
  background-size: contain;
  background-repeat: no-repeat;
  left: -100vw;
  display: none;
}

.text {
  position: relative;
  left: 50%;
}

h1 {
  width: 480px;
  font-size: 50px;
  font-weight: bold;
  line-height: 78px;
}

p {
  width: 480px;
  height: 128px;
  font-size: 25px;
}

.first {
  width: 615px;
  height: 425px;
  background-image: url(../images/bore.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  left: 70px;
}

.texttwo {
  position: relative;
  top: 360px;
  left: 10%;
}

.image.second {
  width: 1230px;
  height: 850px;
  background-image: url(../images/Group_9.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  left: 50%;
}

.imageflow {
  display: flex;
  justify-content: space-around;
}

.element.one,.element.two,.element.third {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.image.third {
  display: flex;
  width: 300px;
  height: 300px;
  background-image: url(../images/Page_1.png);
  background-size: contain;
  background-repeat: no-repeat;

}

.image.four {
  display: flex;
  width: 300px;
  height: 300px;
  background-image: url(../images/Page_2.png);
  background-size: contain;
  background-repeat: no-repeat;

}

.image.five {
  display: flex;
  width: 300px;
  height: 300px;
  background-image: url(../images/Page_3.png);
  background-size: contain;
  background-repeat: no-repeat;

}

.titleflow.h1 {
  width: 2000px;
}
