* {
  box-sizing: border-box;
}

.landing {
  margin: 0 auto;
  width: 1440px;
  background-color: #f3f2f2;

}

.page-one {
height: 1000px;
}

.container{
  position: relative;
  overflow: hidden;
}

.logo {
width: 70vw;
height: 50vh;
background-image: url(../images/logo.svg);
background-size: contain;
background-repeat: no-repeat;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.logotype {
  position: relative;
}

.man {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 25vw;
  height: 50vh;
}

.man.changePosition {
  transition-timing-function: ease-in;
  transition: transform .3s ease;
}

.man.orange.changePosition {
  right: 10vw;
  display: block;
}

.man.blue.changePosition {
  left: 30vw;
  display: block;
}

.orange {
  background-image: url(../images/oranges.svg);
  background-size: contain;
  background-repeat: no-repeat;
  right: -100vw;
  display: none;
}

.blue {
  background-image: url(../images/blue.svg);
  background-size: contain;
  background-repeat: no-repeat;
  left: -100vw;
  display: none;
}

.text {
  position: relative;
  left: 50%;
}

h1 {
  width: 480px;
  font-size: 50px;
  font-weight: bold;
  line-height: 78px;
}

p {
  width: 480px;
  height: 128px;
  font-size: 25px;
}

.first {
  width: 615px;
  height: 425px;
  background-image: url(../images/bore.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  left: 70px;
}

<<<<<<< HEAD
.texttwo {
  position: relative;
  top: 360px;
  left: 10%;
}

.image.second {
  width: 1230px;
  height: 850px;
  background-image: url(../images/Group_9.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  left: 50%;
}

.imageflow {
  display: flex;
  justify-content: space-around;
}

.element.one,.element.two,.element.third {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.image.third {
  display: flex;
  width: 300px;
  height: 300px;
  background-image: url(../images/Page_1.png);
  background-size: contain;
  background-repeat: no-repeat;

}

.image.four {
  display: flex;
  width: 300px;
  height: 300px;
  background-image: url(../images/Page_2.png);
  background-size: contain;
  background-repeat: no-repeat;

}

.image.five {
  display: flex;
  width: 300px;
  height: 300px;
  background-image: url(../images/Page_3.png);
  background-size: contain;
  background-repeat: no-repeat;

}

.titleflow.h1 {
  width: 2000px;
=======







.page-five {
  width: 100%;
  height: 1024px;
  position: relative;
}

.page-fiveText {
  position: absolute;
  right: 180px;
  top: 280px;

}

.image-six {
  height: 828px;
  width: 602px;
  background-image: url(../images/Group_10.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 83px;
  top: 58px;
}


.page-six {
  width: 100%;
  height: 1024px;
  position: relative;
}

.page-sixText {
  position: absolute;
  width: 480px;
  height: 168px;
  top: 229px;
  left: 238px;
}

.image-last {
  height: 608px;
  width: 358px;
  background-image: url(../images/Group_11.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 168px;
  top: 252px;
}

.button {
  width: 265px;
  height: 39px;
  top: 527px;
  left: 238px;
  position: relative;
  display: flex;
  justify-content: space-between;
}


.google {
  width: 107px;
  height: 37px;
  background-image: url(../images/Page_5.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.apple {
  width: 107px;
  height: 37px;
  background-image: url(../images/Page_4-1.png);
  background-size: contain;
  background-repeat: no-repeat;
>>>>>>> 3c80fc7e748da01d2f111018d3d8049a895f0f2b
}
